*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: #e23636;
  font-family: Marvel;
  
}

a {
  color: #ffffff;
}
a:hover {
  color: #000000;
}

.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

h5 {
  font-family: Marvel;
  color: #ffffff;
  font-size: 18px;
}

input, textarea {
  font-size: 18px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 2px solid #a0b3b0;
  color: #ffffff;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus, textarea:focus {
  outline: 0;
  border-color: #e23636;
}

textarea {
  border: 2px solid #504a4a;
  resize: vertical;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
  text-align: right;
  display: inline;
}

.box-area {
  position: relative;
  color: white;
  margin-bottom: 40px;
}

.button {
  border: 0;
  border-radius: 0;
  padding: 15px 0;
  font-size: 20px;
  font-weight: 600;
  background: #000000;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  }
.button:hover, .button:focus {
  background: #518cca;
}

.push-button {
  display: block;
  width: 100%;
}
